{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Complete</th>
            <th>Prior</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{% if task.date %}{{ task.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.description }}</td>
                <td>{% if task.complete %}Yes{% else %}No{% endif %}</td>
                <td>{{ task.prior }}</td>
                <td>
                    <a href="{{ path('task_show', { 'id': task.id }) }}" class="btn btn-default btn-sm">show</a>
                    <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-success btn-sm">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p align="center">
        <a href="{{ path('task_new') }}" class="btn btn-info">Create a new task</a>
    </p>
{% endblock %}
