{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment</h1>

    <table>
        <tbody>
        <tr>
            <th>Written on</th>
            <td>{% if comment.commentDate %}{{ comment.commentDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ comment.commentText }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ comment.commentAuthor }}</td>
        </tr>
        </tbody>
    </table>
    <p align="center">
        <a href="{{ path('comment_index') }}" class="btn btn-info">Back to the list</a>
    </p>
    <p align="center">
        <a href="{{ path('comment_edit', { 'id': comment.id }) }}" class="btn btn-default">Edit</a>
    </p>
    {{ form_start(delete_form) }}
    <p align="center">
        <input type="submit" value="Delete" class="btn btn-danger">
    </p>
    {{ form_end(delete_form) }}

{% endblock %}
