<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Tasky{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="{{ asset('images/logo.jpg') }}" width="185" height="185"/>

            <img src="{{ asset('images/banner.jpg') }}" width="950" height="185" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br>
           {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            {{ render(controller('AppBundle:Category:menuList')) }}
        </div>
        <div class="col-md-8">
            {% block body %}{% endblock %}
        </div>
        <div class="col-md-2">
            <p  >
                <a href="/task/new" class="btn btn-lg btn-success" >+Add new task</a>
            </p>
            <p>
                <a href="/task" class="btn btn-lg btn-success" >Show my tasks</a>
            </p>
            <hr>
            <p>
                <a href="/comment/new" class="btn btn-lg btn-primary" >+Add comment</a>
            </p>
            <p>
                <a href="/comment" class="btn btn-lg btn-primary" >See comments</a>
            </p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <hr>
                <small>Created by Adrian Janicki @2017</small>
            <hr>
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
