{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>


    <hr />
    {% for task in tasks %}
        {{ task.name }}<br>
    {% endfor %}
    <hr />

    <a href="{{ path('category_index') }}" class="btn btn-info">Back to the list</a><br>
    <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-default">Edit</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}

{% endblock %}
